<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer List</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
</head>
<body>
<a th:href="@{/customer/create}"> Add New Customer</a>
<form>
    <label>
        <input type="search" name="customerName" placeholder="Search By Name">
    </label>
    <label>
        <input type="search" name="customerPhone" placeholder="Search By Phone">
    </label>
    <label>
        <select name="customerTypeId">
            <option value="" selected>Search By Customer Type</option>
            <option th:each="customerType : ${customerTypes}" th:value="${customerType.customerTypeId}"
                    th:text="${customerType.customerTypeName}"></option>
        </select>
    </label>
    <input type="submit" value="Search">
</form>
<table class="table table-bordered">
    <thead class="thead-light">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Birhday</th>
        <th>Gender</th>
        <th>Id Card</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>Customer Type</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.customerId}"></td>
        <td th:text="${customer.customerName}"></td>
        <td th:text="${customer.customerBirthday}"></td>
        <td th:text="${customer.customerGender}"></td>
        <td th:text="${customer.customerIdCard}"></td>
        <td th:text="${customer.customerPhone}"></td>
        <td th:text="${customer.customerEmail}"></td>
        <td th:text="${customer.customerAddress}"></td>
        <td th:text="${customer.customerType.customerTypeName}"></td>
        <td>
            <a th:href="@{/customer/edit/{id}(id=${customer.customerId})}">
                <button class="btn btn-primary">Edit
                </button>
            </a>
        </td>
        <td>
            <a th:href="@{/customer/delete/{id}(id=${customer.customerId})}">
                <button class="btn btn-primary">Delete
                </button>
            </a>
        </td>
    </tr>
    </tbody>
</table>

<div>
    <a th:href="@{'/customer'(page = ${customers.number - 1}, customerName = ${customerName}, customerPhone = ${customerPhone}, customerTypeId = ${customerTypeId} )}"
       th:if="${customers.hasPrevious()}">Previous</a>
    <span th:text="${customers.number + 1}"></span> / <span th:text="${customers.totalPages}"></span>
    <a th:href="@{'/customer'(page = ${customers.number + 1}, customerName = ${customerName}, customerPhone = ${customerPhone}, customerTypeId = ${customerTypeId} )}"
       th:if="${customers.hasNext()}">Next</a>
</div>

<div>
    <a th:href="@{/customer}"> Return Customer List</a>
</div>
<div>
    <a th:href="@{/home}"> Return Home</a>
</div>
</body>
</html>