<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
</head>


<body>

<div class="container">
    <h3>The detail information of product</h3>
    <p>
        <a href="/shopping">Your cart</a>
    </p>
    <p>
        <a href="/product">Back to product</a>
    </p>

    <div th:object="${product}">

        <img th:src="${'../'+product.image}" th:alt="${product.name}">

        <a th:text="${'ID Product: ' + product.id}"></a>
        <p><span th:text="${'Price: $' + product.price}"></span>
        </p>
        <div>
            <a th:href="@{/add/__${product.id}__ (action='list')}">Buy now</a>
        </div>
    </div>

    <div>
        <h5 th:text="${product.name}"></h5>
        <div style="background-color: aquamarine">
            <h5>Promotions</h5>
            <p>
                1. Tặng banner, thiệp (trị giá 20.000đ) miễn phí<br>
                2. Giảm ngay 20.000đ khi Bạn tạo đơn hàng online<br>
                3. Giảm tiếp 3% cho đơn hàng Bạn tạo ONLINE lần thứ 2, 5% đơn hàng Bạn tạo ONLINE lần thứ 6
                và 10% cho đơn hàng Bạn tạo ONLINE lần thứ 12 (Chỉ áp dụng tại Tp.HCM)<br>
                4. Giao miễn phí trong nội thành 63/63 tỉnh<br>
                5. Giao gấp trong vòng 2 giờ<br>
                6. Cam kết 100% hoàn lại tiền nếu Bạn không hài lòng<br>
            </p>
        </div>
    </div>
</div>

</body>
</html>