<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Create Contract</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
</head>
<body>

<h2>Add New Contract</h2>

<form th:action="@{/contract/save}" th:object="${contract}" method="post">
    <div>
        <label for="contractStartDate">Contract Start Date:</label>
        <input id="contractStartDate" type="text" th:field="*{contractStartDate}">
    </div>
    <div>
        <label for="contractEndDate">Contract End Date:</label>
        <input id="contractEndDate" type="text" th:field="*{contractEndDate}">
    </div>
    <div>
        <label for="contractDeposit">Contract Deposit:</label>
        <input id="contractDeposit" type="text" th:field="*{contractDeposit}">
    </div>
    <div>
        <label for="contractTotalMoney">Contract Total Money:</label>
        <input id="contractTotalMoney" type="text" th:field="*{contractTotalMoney}">
    </div>
    <div>
        <label>Customer Name:</label>
        <label>
            <select th:field="*{customer.customerId}">
                <option th:each="customer : ${customers}" th:text="${customer.customerName}"
                        th:value="${customer.customerId}"></option>
            </select>
        </label>
    </div>
    <div>
        <label>Service Name:</label>
        <label>
            <select th:field="*{service.serviceId}">
                <option th:each="service : ${services}" th:text="${service.serviceName}"
                        th:value="${service.serviceId}"></option>
            </select>
        </label>
    </div>
    <div>
        <label>Employee Name:</label>
        <label>
            <select th:field="*{employee.employeeId}">
                <option th:each="employee : ${employees}" th:text="${employee.employeeName}"
                        th:value="${employee.employeeId}"></option>
            </select>
        </label>
    </div>
    <input type="submit" value="Create">
</form>

<a th:href="@{/home}"> Return Home</a>

<div style="color: red">
    <th:block th:if="${message}">
        <p th:text="${message}"></p>
    </th:block>
</div>
</body>
</html>