<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Book</title>
</head>
<body>
<form th:action="@{/borrow-return/borrow}" th:object="${book}" method="post">
    <input type="hidden" th:field="*{id}">
    <div>
        <label for="name">Book Name:</label>
        <input id="name" type="text" th:field="*{name}">
    </div>
    <div>
        <label for="bookType">Book Type:</label>
        <input id="bookType" type="text" th:field="*{bookType}">
    </div>


    <div>
        <input type="hidden" th:field="*{quantity}">
    </div>


    <input type="submit" value="Borrow">


</form>

<a th:href="@{/book}"> Return Book List</a>


</body>
</html>