<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/blog/save}" th:object="${blog}" method="post">
    <div>
        <label for="title">Blog Title:</label>
        <input id="title" type="text" th:field="*{title}">
    </div>
    <div>
        <label for="content">Blog Content:</label>
        <input id="content" type="text" th:field="*{content}">
    </div>
    <div>
        <label>Blog Category:</label>
        <label>
            <select th:field="*{category.id}">
                <option th:each="cate : ${categoryList}" th:text="${cate.name}" th:value="${cate.id}"></option>
            </select>
        </label>
    </div>
    <input type="submit" value="Create">
</form>

<a th:href="@{/blog}"> Return Blog List</a>

<div style="color: red">
    <th:block th:if="${message}">
        <p th:text="${message}"></p>
    </th:block>
</div>
</body>
</html>